<header  id="miFondo" class="bg-zinc-900 flex flex-col md:flex-row  p-20 gap-3 text-center md:text-left rounded-xl bg-none" >
    <div >
        <h1 class="text text-7xl font-bold pb-2 text-cyan-950">Bienvenida a Dream Girls!</h1>
        <h2>Una solo lugar, donde encontrarás, todo lo que necesitas</h2>
        <h2>Don't use a password that is easy to guess</h2>
        <p class="my-4  text-2xl">
            Mira nuestra nueva colección.
        </p>

        <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-300 "> Descubre ahora</button>
    </div>
    <img src="img/foto.svg" alt="" class="w-80" />
    
</header>

<style>
    #miFondo{
/* background-image: url(https://placekitten.com/1400); */
background-image: url(img/portada.jpg);
background-size: cover;
}

</style>