<header class="bg-zinc-900 flex flex-col md:flex-row  p-20 gap-3 text-center md:text-left rounded-xl">
    <div>
        <h1 class="text text-7xl font-bold pb-2">Protect your password</h1>
        <h2>Don't use the same password for multiple websites</h2>
        <h2>Don't use a password that is easy to guess</h2>
        <p class="my-4  text-2xl">
            Use Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Excepturi numquam veritatis in iste ducimus quidem quasi officiis
            asperiores eum quam.
        </p>

        <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-300 "> Empieza aqui</button>
    </div>
    <img src="img/foto.svg" alt="" class="w-80" />
    
</header>
